@font-face {
    font-family: "PPNeueMontreal-bold";
    src: url('../assets/fonts/ppneuemontreal-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "PPNeueMontreal-book";
    src: url('../assets/fonts/ppneuemontreal-book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PPNeueMontreal-italic";
    src: url('../assets/fonts/ppneuemontreal-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PPNeueMontreal-medium";
    src: url('../assets/fonts/ppneuemontreal-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PPNeueMontreal-semibold";
    src: url('../assets/fonts/ppneuemontreal-semibolditalic.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PPNeueMontreal-thin";
    src: url('../assets/fonts/ppneuemontreal-thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PPEditorialOld-Ultralight";
    src: url('../assets/fonts/PPEditorialOld-Ultralight.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lemon-Bold";
    src: url('../assets/fonts/Lemon-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}